{% extends 'header.oc.html.twig' %}

{% block title %}New Budget{% endblock %}

{% block body %}
    <h1><a class="btn btn-primary" href="{{ path('app_budget_index') }}" class="btn btn-primary" type="button" style="border-radius: 50%">â†</a>Ajouter un nouveau Budget</h1>

    {{ include('budget/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('app_budget_index') }}">back to list</a>
{% endblock %}
