<form method="post" action="{{ path('app_tournois_delete', {'id': tournoi.id}) }}" onsubmit="return confirm('Attention! Vous risquez de perdre tous les données de cet tournoi !');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tournoi.id) }}">
    <button class="btn">Delete</button>
</form>
