{% extends 'header.client.html.twig' %}

{% block title %}E-SPORTS HAVEN!{% endblock %}

{% block body %}
<div class="container">
    <div class ="row">
         <div class ="col-4">
              <div class="card">
                  <img src="myimgs/im1.jpg" alt ="Tournois 1" class ="card-img-top">
              <h5> Tournois Num 1</h5>
                  <div class="card-body">
                  <h5 class="card-title>" Tournois numéro 1 ></h5>
                      <span class="card-background-mask-info"> Nombre d'équipes : </span>
                      <span class="card-background-mask-info"> Date de début : </span>


                      <div class="star mt-3 align-items-center">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>

                      </div>
              </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="myimgs/im2.jpg" alt ="Tournois 3" class ="card-img-top">
                <div class="card-body">
                    <h5 class="card-title>" Tournois numéro 3 ></h5>
                    <p class="card-text"> Nombre d'équipes :
                        Date de début :
                        Date de fin :
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="myimgs/im3.jpg" alt ="Tournois 2" class ="card-img-top">
                <div class="card-body">
                    <h5 class="card-title>" Tournois numéro 2 ></h5>
                    <p class="card-text"> Nombre d'équipes :
                        Date de début :
                        Date de fin :
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
