{% extends 'base.html.twig' %}
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

{% block title %}Ajouter Partie{% endblock %}

{% block body %}

    <h1>Ajouter des nouveaux Parties</h1>

        </div>
    {% endfor %}


    {{ include('partie/_form.html.twig') }}

    <a href="{{ path('app_partie_index') }}">back to list</a>
{% endblock %}
